.intro {
    width:50%;
    font-style:italic;
    font-weight:bold;
}

.author {
    width:75%;
    font-style: italic;
    font-weight:bold;
    color: aqua;
}
p.end {
    width: 50%;
    font-weight: bolder;
    font-style:italic;
    color: blue;
    
}

